.cart-container {
  background-color: var(--surface-color);
  border-radius: var(--radius-sm);
  padding: 1.5rem;
  box-shadow: none; 
} 

.cart-container {
  background-color: var(--surface-color);
  border-radius: var(--radius-sm);
  padding: 1.5rem;
  position: sticky;
  top: 2rem;
}

.cart-title {
  color: var(--accent-color);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--border-color);
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item-name {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--text-main);
}

.cart-item-price-info {
  display: flex;
  gap: 0.75rem;
  font-size: 0.875rem;
}

.cart-item-qty {
  color: var(--accent-color);
  font-weight: 600;
}

.cart-item-unit-price {
  color: var(--text-muted);
}

.cart-item-total {
  font-weight: 600;
  color: #87635A;
}

.remove-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--border-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.remove-btn:hover {
  border-color: var(--text-main);
}

.remove-btn:hover svg {
  stroke: var(--text-main);
}

.cart-summary {
  margin-top: 1.5rem;
}

.cart-total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  color: var(--text-main);
}

.cart-total-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-main);
}

.cart-delivery-note {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--border-color); 
  padding: 1rem;
  border-radius: var(--radius-sm);
  font-size: 0.875rem;
  color: var(--text-main);
  margin-bottom: 1.5rem;
}

.cart-delivery-note strong {
  font-weight: 600;
}

.checkout-btn {
  width: 100%;
  background-color: var(--accent-color);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 99px;
  transition: var(--transition);
}

.checkout-btn:hover {
  background-color: var(--accent-hover);
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
  gap: 1rem;
  color: var(--text-muted);
  font-weight: 600;
  font-size: 0.875rem;
}
