<div class="product-card" [class.active]="quantity > 0">
  <div class="product-image-container">
    <picture>
      <source media="(min-width: 1024px)" [srcset]="product.image.desktop">
      <source media="(min-width: 768px)" [srcset]="product.image.tablet">
      <img [src]="product.image.mobile" alt="{{product.name}}" class="product-image" [class.border-active]="quantity > 0">
    </picture>
    
    <button class="add-to-cart-btn" *ngIf="quantity === 0" (click)="cartService.addToCart(product)">
      <img src="assets/images/icon-add-to-cart.svg" alt="">
      <span>Add to Cart</span>
    </button>

    <div class="active-qty-btn" *ngIf="quantity > 0">
      <button class="qty-btn" (click)="cartService.decreaseQuantity(product)" aria-label="Decrease quantity">
        <img src="assets/images/icon-decrement-quantity.svg" alt="-">
      </button>
      <span class="qty-num">{{quantity}}</span>
      <button class="qty-btn" (click)="cartService.addToCart(product)" aria-label="Increase quantity">
        <img src="assets/images/icon-increment-quantity.svg" alt="+">
      </button>
    </div>
  </div>
  <div class="product-info">
    <p class="product-category">{{product.category}}</p> 
    <h3 class="product-name">{{product.name}}</h3> 
    <p class="product-price">{{product.price | currency}}</p> 
  </div>
</div>
