<div class="app-layout">
  <main class="max-w-7xl app-main">
    <h1 class="page-title">Desserts</h1>
    <div class="shop-grid">
      <section class="products-section">
        <app-product-list [products]="cartService.products" [cart]="cartService.cart" (addToCart)="cartService.addToCart($event)" (decrease)="cartService.decreaseQuantity($event)"></app-product-list>
      </section>

      <aside class="cart-section">
        <app-cart [items]="cartService.cart" (remove)="cartService.removeItem($event)" (decrease)="cartService.decreaseQuantity($event)" (confirm)="cartService.confirmOrder()"></app-cart>  
      </aside>
    </div>
  </main>
</div>

<div class="modal-overlay" *ngIf="cartService.showConfirmation" (click)="cartService.startNewOrder()">
  <div class="modal-content" (click)="$event.stopPropagation()">

    <img src="assets/images/icon-order-confirmed.svg" alt="Order confirmed" class="modal-icon">
    <h2 class="modal-title">Order Confirmed</h2>
    <p class="modal-subtitle">We hope you enjoy your food!</p>

    <div class="modal-items-list">
      <div *ngFor="let item of cartService.confirmedItems" class="modal-item">
        <div class="modal-item-left">
          <img [src]="item.product.image.thumbnail" [alt]="item.product.name" class="modal-item-thumbnail">
          <div class="modal-item-info">
            <h4 class="modal-item-name">{{item.product.name}}</h4>
            <div class="modal-item-price-row">
              <span class="modal-item-qty">{{item.quantity}}x</span>
              <span class="modal-item-unit-price">@ {{item.product.price | currency}}</span>
            </div>
          </div>
        </div>
        <span class="modal-item-total">{{item.product.price * item.quantity | currency}}</span>
      </div>

      <div class="modal-total-row">
        <span>Order Total</span>
        <span class="modal-total-price">{{cartService.getConfirmedTotal() | currency}}</span>
      </div>
    </div>

    <button class="modal-btn" (click)="cartService.startNewOrder()">Start New Order</button>
  </div>
</div>